
.wbw_info_text {
    padding-left: 15px;
    background: #fff;
    border-left: 5px solid lightblue;
}

.options_dialog_wbw_info_text {
  padding-left: 15px;
  background: #f8f8f8;
  border-left: 5px solid lightblue;
}

.options_dialog_wbw_warning_text {
  padding-left: 15px;
  background: #f8f8f8;
  border-left: 5px solid red;
}

label{
    display: inline-flex;
    clear: left;
    width: 150px;
}
input {
  display: inline-flex;
}