
.wp-list-table .column-id {
    width: 10%;
}

.wp-list-table .column-changed_by {
    width: 5%;
}

.wp-list-table .column-submitter_name {
    width: 10%;
}

.wp-list-table .column-submitter_email {
    width: 15%;
}

/* .wp-list-table .column-submission_type {
    width: 10%;
} */

.wp-list-table .column-change_made {
    width: 10%;
}

.wp-list-table .column-submission_time {
    width: 10%;
}

.wp-list-table .column-change_time {
    width: 10%;
}

.wp-list-table .column-change_summary {
    width: 25%;
}

.dialog_label {
    display:block;
}

.dialog_textarea {
    display:block
}; 

.bmaw_quickedit_dialog_column
{
	width: 50%;
	padding: 10px 30px;
	float: left;
}

.bmaw_quickedit_dialog_form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.bmaw_quickedit_dialog_form:before, 
.bmaw_quickedit_dialog_form:after { 
	content: " "; 
    display: table; 
}

.bmaw_quickedit_dialog_form:after { 
	clear: both; 
}

.bmaw_quickedit_dialog_form label {
	display: block;
	padding: 40px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}