.dialog_label {
  display: block;
}

.dialog_textarea {
  display: block;
}


.bmaw_submission_quickedit_dialog {  display: grid;
    grid-template-columns: 1.3fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 5px 11px;
    grid-auto-flow: row;
    grid-template-areas:
      "bmaw-grid-col1 bmaw-grid-col2";
    width: 80%;
    height: 80%;
  }
  
  .bmaw-grid-col2 { grid-area: bmaw-grid-col2; }
  
  .bmaw-grid-col1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "bmaw-grid-col1-wide bmaw-grid-col1-wide bmaw-grid-col1-wide"
          "bmaw-col1-t1 bmaw-col1-t2 bmaw-col1-t3"
          "bmaw-grid-col1-wide bmaw-grid-col1-wide bmaw-grid-col1-wide";
              grid-area: bmaw-grid-col1;
  }
  
  .bmaw-grid-col1-wide { grid-area: bmaw-grid-col1-wide; }
  .bmaw-col1-t1 { grid-area: bmaw-col1-t1; }
  
  .bmaw-col1-t2 { grid-area: bmaw-col1-t2; }
  
  .bmaw-col1-t3 { grid-area: bmaw-col1-t3; }
  
.bmaw_submission_quickedit_dialog input {
  line-height: 1.5;
  font-size: 1.2em;
  padding: 5px 10px;
  display: block;
  width: 90%;
}

.bmaw_submission_quickedit_dialog label {
  width: 100%;
  display: block;
  padding: 10px 5px 5px 2px;
  letter-spacing: 1px;
  cursor: pointer;
}
/* 
.bmaw-grid-col2 input {
  line-height: 1.5;
  font-size: 1.2em;
  padding: 5px 10px;
  display: block;
  width: 90%;
}

.bmaw-grid-col2 label {
  width: 100%;
  display: block;
  padding: 10px 5px 5px 2px;
  letter-spacing: 1px;
  cursor: pointer;
}

.bmaw_submission_input_half {
    width: 50%;
} */