table.committeetable tr:hover > td {
    background: #fff;
}
table.committeetable th {
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: auto;
}

table.committeetable td {
    padding-bottom: 5px;
    padding-top: 5px;
}

.bmaw_info_text {
    padding-left: 15px;
    background: #fff;
    border-left: 5px solid lightblue;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }