.idea
.DS_Store
.phpunit.cache
.phpunit.result.cache
/vendor
.vscode
package-lock.json
/node_modules
.userdetails.sh
/tests/testcafe/setup/blank_bmlt.sql
/logs/
/releases
/coverage
/akismet
hello.php
/tests/testcafe/screenshots/**
/docker/bmlt.env
/docker/bmlt3x.env
/docker/bmlt2x.env
/tests/testcafe/**
/docker/logs/**
/tests/testcafe/uploads/**
