<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/phpunit/bootstrap.php">
  <php>
    <ini name="display_errors" value="true"/>
  </php>
  <testsuites>
    <testsuite name="default">
      <directory>tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
</phpunit>
