<p>Hi {field:first_name}<br>Thank you for submitting the online meeting update.<br>We will usually be able action your
    request within 48 hours.<br>Our process also updates NA websites around Australia and at NA World Services.<br>
    ------------------------</p>
<p>UPDATED FIELDS</p>
<table class="blueTable" style="border: 1px solid #1C6EA4;background-color: #EEEEEE;text-align: left;border-collapse: collapse;">
    <thead style="background: #1C6EA4;border-bottom: 2px solid #444444;">
        <tr>
            <th style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 14px;font-weight: bold;color: #FFFFFF;border-left: none;">
                <br>Field Name</th>
            <th style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 14px;font-weight: bold;color: #FFFFFF;border-left: 2px solid #D0E4F5;">
                <br>Original Value</th>
            <th style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 14px;font-weight: bold;color: #FFFFFF;border-left: 2px solid #D0E4F5;">
                <br>Updated</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Group Name</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_meeting_name}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:meeting_name}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Start Time</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_start_time}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:start_time}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Duration</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_duration_time}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:duration_time}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Time Zone</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_time_zone}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:time_zone}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Formats</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_formats}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:formats}</b></td>
        </tr>
        
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Weekdays</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_weekday}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:weekday}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Meeting Link</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_virtual_meeting_link}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:virtual_meeting_link}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Additional Info</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_virtual_meeting_additional_info}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:virtual_meeting_additional_info}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">BMLT Comments</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:hidden_orig_comments}</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;"><b>{field:comments}</b>
            </td>
        </tr>
    
    </tbody>
</table>