<p>Attn: FSO.<br>
Please send a starter kit to the following meeting:
</p>
<hr><br>
<table class="blueTable" style="border: 1px solid #1C6EA4;background-color: #EEEEEE;text-align: left;border-collapse: collapse;">
    <thead style="background: #1C6EA4;border-bottom: 2px solid #444444;">
        <tr>
            <th style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 14px;font-weight: bold;color: #FFFFFF;border-left: none;">
                <br>Field Name
            </th>
            <th style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 14px;font-weight: bold;color: #FFFFFF;border-left: 2px solid #D0E4F5;">
                <br>Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Group Name</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:meeting_name}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Submitter Name</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:submitter_name}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Contact Number</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:contact_number}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">Starter Kit Postal Address</td>
            <td style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 13px;">{field:starter_kit_postal_address}
            </td>
        </tr>
    </tbody>
</table>
