<p><br>Thank you for submitting the online meeting update.<br>We will usually be able action your
    request within 48 hours.<br>Our process also updates NA websites around Australia and at NA World Services.<br>
</p>
<hr>What was submitted: <br><br>
<table class="blueTable" style="border: 1px solid #1C6EA4;background-color: #EEEEEE;text-align: left;border-collapse: collapse;">
    <thead style="background: #1C6EA4;border-bottom: 2px solid #444444;">
        <tr>
            <th style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 14px;font-weight: bold;color: #FFFFFF;border-left: none;">
                <br>Field Name
            </th>
            <th style="border: 1px solid #AAAAAA;padding: 3px 2px;font-size: 14px;font-weight: bold;color: #FFFFFF;border-left: 2px solid #D0E4F5;">
                <br>Value
            </th>
        </tr>
    </thead>
    <tbody>
        {field:submission}
    </tbody>
</table>

